<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.java.BoardMapper">

	<!-- qna 입력 -->
	<insert id='insertQna' parameterType="com.java.domain.BoardVO">
		INSERT INTO qna(q_inquiry, q_title, q_content, q_image, q_pass, q_date, q_count)
		VALUES(#{q_inquiry}, #{q_title}, #{q_content}, #{q_image}, #{q_pass}, NOW(), 0)
	</insert>
	
	<!-- qna게시판 게시물목록 -->
	<select id='board_all' parameterType="com.java.domain.BoardVO" resultType="com.java.domain.BoardVO">
		SELECT *
		FROM qna
		ORDER BY q_postid DESC
	</select> 


</mapper>