<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.java.MemberMapper">

	<!-- 회원정보 입력 -->
	<insert id='insertMember' parameterType="com.java.domain.MemberVO">
		INSERT INTO m_member(m_id, m_pass, m_name, m_tel, m_email, m_point, m_addr, m_postcode)
		VALUES(#{m_id}, #{m_pass}, #{m_name}, #{m_tel}, #{m_email}, 4000, #{m_addr}, #{m_postcode})
	</insert>
	
	<!-- 아이디 중복 확인 -->
	<select id="selectcheckIdMember" parameterType="com.java.domain.MemberVO" resultType="int">
		SELECT count(*) FROM m_member WHERE m_id = #{m_id}
	</select>

	<!-- 로그인 확인 -->
	<select id='loginCheck' parameterType="com.java.domain.MemberVO" resultType="com.java.domain.MemberVO">
		SELECT * FROM m_member WHERE m_id=#{m_id} AND m_pass=#{m_pass}
		
	</select>
	
	<!-- 전체회원관리에서 총 회원수 리스 -->
	<select id="member_all" parameterType="com.java.domain.MemberVO" resultType="com.java.domain.MemberVO">
		SELECT * FROM m_member
	</select>
	
	<!-- 회원목록 리스트 -->
	<select id='member_dash' parameterType="com.java.domain.MemberVO" resultType="com.java.domain.MemberVO">
		SELECT * FROM m_member LIMIT 3;
	</select>
	
	<!-- 포인트 관리 페이지에서 해당 아이디 정보 가져오기 -->
	<select id='member_point_detail' parameterType="com.java.domain.MemberVO" resultType="com.java.domain.MemberVO">
		SELECT * FROM m_member WHERE m_id=#{m_id}
	</select>
	<!-- 포인트 차감 -->
	<update id='member_point_content' parameterType="com.java.domain.MemberVO">
		UPDATE m_member SET  m_point=m_point+#{m_point} WHERE m_id=#{m_id}
	</update>
	
	<!-- 해당 이메일이 있는지 확인 -->
	<select id="selectMember" parameterType="String" resultType="com.java.domain.MemberVO">
		SELECT * FROM m_member WHERE m_email=#{m_email}
	</select>
	
	<!-- 패스워드변경 -->
	<update id="pwUpdate_M" parameterType="com.java.domain.MemberVO">
		UPDATE m_member SET m_pass=#{m_pass} WHERE m_email= #{m_email}
	</update>
	
	<!-- 회원 수정 시 정보 불러오기 -->
	<select id="member_detail" parameterType="String" resultType="com.java.domain.MemberVO">
		SELECT * FROM m_member WHERE m_id=#{m_id}
	</select>
	
	<update id="update_member" parameterType="com.java.domain.MemberVO">
		UPDATE m_member SET m_pass=#{m_pass}, m_name=#{m_name}, m_email=#{m_email}, m_tel=#{m_tel}, m_postcode=#{m_postcode}, m_addr=#{m_addr}  WHERE m_id=#{m_id}
	</update>

</mapper>