<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.java.ProductMapper">

	<!-- 상품등록정보 입력 -->
	<insert id='productInsert' parameterType="com.java.domain.ProductVO">
		INSERT INTO p_product(p_selid, p_name, p_price, p_description, p_care
		<if test='p_imgn != null'>
			, p_imgn, p_imgrn, p_imgsz
		</if>
		)
		VALUES(#{p_selid}, #{p_name}, #{p_price}, #{p_description}, #{p_care}
		<if test='p_imgn != null'>
			, #{p_imgn}, #{p_imgrn}, #{p_imgsz}
		</if>
		)
	</insert>
	
	
	<!-- 상품 이미지 등록 -->
	<insert id="uploadImage" parameterType="com.java.domain.ImageVO">
    INSERT INTO image (
    p_selid,
        img1_n, img1_rn, img1_sz,
        img2_n, img2_rn, img2_sz,
        img3_n, img3_rn, img3_sz,
        img4_n, img4_rn, img4_sz,
        img5_n, img5_rn, img5_sz,
        img6_n, img6_rn, img6_sz,
        img7_n, img7_rn, img7_sz,
        img8_n, img8_rn, img8_sz
    ) VALUES (
    #{p_selid},
        #{img1_n}, #{img1_rn}, #{img1_sz},
        #{img2_n}, #{img2_rn}, #{img2_sz},
        #{img3_n}, #{img3_rn}, #{img3_sz},
        #{img4_n}, #{img4_rn}, #{img4_sz},
        #{img5_n}, #{img5_rn}, #{img5_sz},
        #{img6_n}, #{img6_rn}, #{img6_sz},
        #{img7_n}, #{img7_rn}, #{img7_sz},
        #{img8_n}, #{img8_rn}, #{img8_sz}
    )
</insert>
	
	<!-- product_all에 들어갔을 때 상품 등록 정보 불러오기  -->
	<select id="product_all" resultType="com.java.domain.ProductVO">
		SELECT * FROM p_product
	
	</select>
	
	
	<!-- product_resister에 들어갔을 때, 분류 정보 불러오기 -->
	<select id="selectFstCate" parameterType="com.java.domain.FstDivVO" resultType="com.java.domain.FstDivVO">
		SELECT * FROM fstdiv
	</select>

	<select id="selectSndCate" parameterType="com.java.domain.SndDivVO" resultType="com.java.domain.SndDivVO">
		SELECT * FROM snddiv
	</select>
	
	<select id="selectTrdCate" parameterType="com.java.domain.TrdDivVO" resultType="com.java.domain.TrdDivVO">
		SELECT * FROM trddiv
	</select>
	
	<!-- 상철 -->
	<!-- 상품정보 수정에서, 분류 정보 불러오기 -->
	   <select id="selectFstCate2" parameterType="com.java.domain.FstDivVO" resultType="com.java.domain.FstDivVO">
      SELECT * FROM fstdiv
   </select>

   <select id="selectSndCate2" parameterType="com.java.domain.SndDivVO" resultType="com.java.domain.SndDivVO">
      SELECT * FROM snddiv
   </select>
   
   <select id="selectTrdCate2" parameterType="com.java.domain.TrdDivVO" resultType="com.java.domain.TrdDivVO">
      SELECT * FROM trddiv
   </select>
	
	<!-- 상철 -->

	
	<!-- 상품 상세보기 -->
	<select id="product_detail" parameterType="String" resultType="com.java.domain.ProductVO">
		SELECT * FROM p_product WHERE p_selid = #{p_selid}
	
	</select>
	
	<!-- product_resister 옵션 정보 불러오기 -->
	<select id="product_option" parameterType="com.java.domain.OptionVO" resultType="com.java.domain.OptionVO">
		SELECT * 
		FROM p_option INNER JOIN trddiv 
		ON p_option.trddivid = trddiv.trddivid
		WHERE trddiv.TRDDIVID = #{p_selid}
	</select>
	

	<!-- 옵션 등록 -->
	<insert id="insert_option" parameterType="com.java.domain.OptionFinalVO">
	
		INSERT INTO final_op (p_optionID, p_selid) VALUES (#{p_optionID}, #{p_selid})
	</insert>
	

	<!-- product_all에서 체크박스 누르고 삭제 시 해당 컬럼 내용 삭제하기  -->
   <delete id="deleteProduct" parameterType="com.java.domain.ProductVO">
      DELETE FROM p_product
      WHERE p_selid = #{p_selid}
   </delete>

   
      <!-- 상품정보수정 카테고리 로드 *상철 -->
   <select id='productView' parameterType="com.java.domain.ProductVO" resultType="com.java.domain.ProductVO">
    SELECT *
    FROM p_product
    WHERE p_selid = #{p_selid}

    ORDER BY p_selid DESC

   </select> 
   
   <!--  주문목록리스트 불러오기  -->
<select id="order_all" parameterType="com.java.domain.OrderVO" resultType="com.java.domain.OrderVO">
SELECT * FROM o_order WHERE m_id = #{m_id}
</select>

</mapper>