


fieldset {
    width:400px;
}

#order_info tr td:nth-child(1){
    text-align: left;
}

#order_info th, #order_info td{
    border:1px solid black;
    padding:3px;
    text-align:right;
}

#order_info{
    border:1px solid black;
    margin:0 auto;
}


#oder_rc {
    width:100px;
}

#rc_addr {
    vertical-align: top;
    width:130px;
    height:15px;
}

.rec_tel {
    display:block;
    
}

#rc_addr_btn {
    vertical-align: top;
    height:20px;
}

.rc_addr {
    vertical-align: top;
    display: inline-block;
    border-width: 1px black;
    height:20px;
    font-size:10px;
    
}

.left_text {
    text-align: left;
    float:left;
    width:60px;
    margin-left:0px;
    border-radius:20%;
 
}

.right_text {
    float:right;
    width:60px;
    margin-right:0px;
    border-radius:20%;
}

/* #order_info tr>td:nth-child(2)::after, table tr>td:nth-child(4)::after{
    content : "ì›";
} */


@media (max-width: 1000px){
    .container{
        width: 80%;
    }
}

@media (min-width: 1000px){
    .container{
        width: 45%;
    }
}

.container{
    margin-left:auto;
    margin-right:auto;
    display:block;
}

table tr td:nth-child(1) {
	padding-left: 10px;
    width: 120px;
    line-height: 1.2;
}

table tr td:nth-child(2) {
}


#container2 > .left{
    padding-left:30px;
}

#container2 > .right{
    padding-right:30px;
}

#agreement {
    width:600px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

fieldset{
    width:400px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.header {
    text-align: center;
    
}

.agreement {
    width:430px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}



.fixed-fieldsetmiddle {
    box-shadow: 1px 1px 0 0;
    border: 1px solid black;
    border-radius: 10px;

}



.btn{
    width:430px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.container-top {
    width:785px;;
    border:1px solid #EDEDED;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin: 30px;
    height:300px;
    position : relative;
    margin: auto;
}

.container-top-title {
    margin-left:20px;
    width: 60px;
}

t.top-radiobtn {
    margin-left:30px;
    display:inline-block;
    
}



.rec_tel{
    float:left;
}

.rec_tel ~ input{
    width:100px;
    float:left;
    margin-left:20px;
}

.rec_tel2{
    float:left;
}

.rec_tel2 ~ input{
    width:100px;
    float:left;
    margin-left:20px;
}





.oder_rc {
    display:block;
}

.container-middle-title {
    margin-left:20px;
    width: 60px;
    padding: 0 auto;
}

.container-middle {
    width:700px;;
    border:1px solid #EDEDED;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin: 30px
}



.container-bottom {
    width:789px;
    border:1px solid #EDEDED;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:0px;
   margin : auto;
    position : relative;
    top:100;
    bottom:52px
}

.container-bottom p {
    line-height: 10px;
    
}

.container-bottom-title {
    width: 792px;
    padding-top:20px;
}
h5 {
	text-align: left;
	padding-bottom : 25px;
	padding-left : 10px
}

#cashpay {
	position : relative;
	left : 20px
}


.container-bottom-table {
    padding-bottom: 20px;
    margin-left:25px;
}




